<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <h2>About Me:</h2>
    <p>Ryan Smith is an entrepreneur of many types</p>
        <li>2012-Present:  Entrepreneur, Botanist, Programmer, Hardware Tech
        <li>April 2016 – Present:  Wboutique LLC 3275 Stevens Creek Blvd, San Jose CA – COO
            <ul>Developed an inventory system for recording products, clients information, and order transactions, by using VBA and Python; </ul>
            <ul>Manage product inventory online and offline, and logistic procedures;</ul>
            <ul>Conduct sales and profit reports, product analysis, and customer behavior analysis using excel and VBA</ul>
            <ul>Predict future popularity of products by utilizing current system, and make decisions for the next season accordingly.</ul>
            <ul>Created and maintaining company website.</ul>
        </li>
    <li>April 2014 - May 2016: RE/MAX Real Estate Inc., 18688 CA-120 Groveland CA — Assistant Manager
            <ul>Updated and moderated the company's website;</ul>
            <ul>Coordinated and managed all rentals and reservations.</ul>
            <ul>Finalized all vacation rental agreements.</ul>
            <ul>Coordinated all house cleaners, electricians and repair contractors.</ul>
        </li>
        <li>June 2011 - September 2014: SMTWorld, 874 E Santa Clara St. San Jose CA — Assistant to CEO/Manager/Sales/Customer Service
            <ul>Created ads with Photoshop and coordinated posts online for the products.</ul>
            <ul>Developed and Moderated the company’s website. </ul>
            <ul>Managed and inventoried all imported and exported products.</ul>
            <ul>Repaired and maintained all Operating Systems within the company.</ul>
        </li>

    <p>Grew up fast in the ghetto of Decoto Road Fremont. After his father passing away from alzheimer's disease, Ryan was forced to step up and take care of his siblings while helping along side his mother to maintain living expenses. With the extensive strive for success and the betterment of his family, Ryan has come a long way enduring many obstacles of trials and tribulations. Currently resides in Silicon Valley Happily married to a beautiful chinese business owner with a son on the way!</p>
    <a href="/projects"><button>See my projects</button></a>
</body>
</html>